/*MOBILE FIRST*/

main#main_perfil {
    display: grid;
    grid-template-columns: auto 95% auto;
}

section#section_infos {
    grid-column: 2;
    background-color: #337d28;
    min-height: 100vh;
    padding: 10px;
}

/*Div infos*/

div#infos {
    padding: 20px;    
    margin-top: 40px;
    background-color: #77be66;
    height: auto;
    box-shadow: 1px 1px 4px black;
}

/*Infos Display div interno*/

div#infos_interno h3 {
    padding-bottom: 30px;
    font-size: 1.8em;
}

div#infos_interno p#informacoes_p {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 20px;
    opacity: 0.8;
}

p.tipo_info {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.637);
    padding-bottom: 5px;
    padding-top: 10px ;
    font-weight: bolder;
}

p.display_info {
    font-size: 1.4em;
}

